<!doctype html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('style') }}" />
	</head>
	<body>
		<h1>{{ title }}</h1>
		<ul>
			{% for feed in feeds %}
			<li>
				<span class="title">{{ feed[1] }}</span>
				<a href="{{ url_for('feed', feedtype='rss',     id=feed[0]) }}">RSS</a>
				<a href="{{ url_for('feed', feedtype='atom',    id=feed[0]) }}">Atom</a>
				<a href="{{ url_for('feed', feedtype='podcast', id=feed[0]) }}">Podcast</a>
			</li>
			{% endfor %}
		</ul>
	</body>
</html>
